@import "../utils/variables";
.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
}

.about-list__about-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.icon-about-item {
  display: inline-block;
  width: 270px;
  height: 120px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-plan::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronavt::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-list__mini-title {
  color: $color-title;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list__discription {
  color: $grey;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
