@import "../utils/variables";

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font: $font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.22), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-list__text {
  padding-top: 30px;
  margin-bottom: 16px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $color-title;
  text-align: center;
}

.team-list__discription {
  font-family: $font;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $grey;
  text-align: center;
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin-right: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $color-link;
  }

  &:hover .social-list__icon {
    fill: #fff;
  }

  &:focus {
    background-color: $color-link;
  }

  &:focus .social-list__icon {
    fill: #fff;
  }
}

.social-list__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}
